footer{
    background: rgb(9, 48, 155);
    background: linear-gradient(180deg, rgb(0, 174, 255) 19%, rgb(38, 34, 255) 100%);;
}
h6{
    text-align: center;
    color: $blanco;
    padding: 5px;
    margin: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}